table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

td{
    text-align: center;
}

body{
    background-image: url(../media/orchids-1094761_1280.jpg);
    background-size: cover;
    height:100%;
    width:100%;
}

.wrapper{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    top: 0px;
    background: rgba(255,255,255,0.1);
    background: -webkit-linear-gradient(white, rgba(255,255,255,0.1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, rgba(255,255,255,0.1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, rgba(255,255,255,0.1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, rgba(255,255,255,0.1)); /* Standard syntax */
}

.wrapper2{
    font-family: 'Oxygen', sans-serif;
    background-color: rgba(255,255,255,1);
    position: relative;
    width:90%;
    height: 100%;
    left:5%;
}
.form{
    background-color: rgba(255,255,255,0.6);
    border-radius: 30px;
}

.add_form{
    padding: 2%;
    position: relative;
}

.add_button{
    position: relative;
    left: 28%;
    margin-top: 5%;
    margin-left:2%;
}

.hover-button:hover{
    background-color: #03A0A1 !important;
}

.add_button.agregar{
    align-content: center;
    position: relative;
    display: inline-block;
    left: 35%;
}

.field{
    position: relative;
    width:50%;
    left:25%;
}

#logo{
    width:30%;
    position: relative;
    left:37%;
    margin:13px;
}

.logo{
    position: absolute;
    width: 17%;
    margin: 3%;
}

.container{
    width:70%;
    position: relative;
    left:15%;
    background-color: none !important;
    border:none;
    font-family: 'Oxygen', sans-serif;
}

.login{
    position: relative;
    padding-top: 2%;
    width:60%;
    left:20%;
}

.last{
    padding-bottom: 2%; 
}

.button{
    background-color: darkturquoise !important;
    font-size: 1.2rem;
    border-radius: 15px;
}

.alert{
    position: relative;
    width: 67%;
    left: 16%;
    bottom: 20px;
}

.label{
    display: block;
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.8;
    color: #525252;
}

.header2{
    text-align:center; 
    padding-top: 9%;
}
.header4{
    text-align:center; 
    position:relative; 
    margin-bottom:3%; 
}

.header4.pacientes{
    width: 30%;
    display: inline-block;
    left: 30%;
    margin-bottom: 10px;
}

.form-pacientes{
    width: 30px;
    position: relative;
    display: inline-block;
    left: 24%;   
}

.table{
    width: 90%;
    margin-bottom: 1rem;
    border-radius: 0;
    left: 5%;
    position: relative;
    margin: 0;
    bottom: 5px;
    padding: 2px;
}

.table.pacientes{
    width:70%;
    left:15%;
}

.icon{
    height: 30px;
    width: 30px;
    position: relative;
}

.icon.delete{
    background-image: url(../media/delete-icon.png);
    background-size: cover;
}

.icon.edit{
    left: 20%;
    top: -8px;
}


.icon.refresh{
    background-image: url(../media/refresh-icon.png);
    background-size: cover;
    top: 6px;
    margin-left: -8px;
}
.select:disabled { 
    color:lightgray; 
}

.paciente_button{
    border: solid 2px turquoise;
    background-color: white;
    line-height: 2;
    width:60%;
    border-radius:15px;
}

